@use '../variables.module';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 1.5rem 0;
    padding-inline: 1rem;
    width: 217px;
    color: variables.$color-white;

    h2 {
      font-weight: 500;
      font-size: 24px;

      span {
        display: block;
      }
    }

    p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

@media (min-width:1024px) {
  .main {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;


    .title {
      width: auto;
      text-align: left;
      width: 400px;

      h2 {
        font-size: 48px;
      }

      p {
        font-size: 24px;
      }
    }
  }
}