$color-darkviolet :#4A28AF;
$color-ligthviolet: #6E46E6;
$color-white: #FFFFFF;
$color-white-2: #F1F1F1;
$color-white-3: #E7E7ED;
$color-gray: #F3F3F6;
$color-purple: #3D3D67;
$color-ligthpurple: #717191;
$color-blue-hover: #2F00FF;